<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table>
        <tr>
            <td>페이지</td>
            <td>설명</td>
        </tr>
        <tr>
            <td><a href="{% url 'movie_list' %}" class="btn btn-link"> 영화 목록 보기</a></td>
            <td>영화 목록을 보여 줍니다.</td>
        </tr>
        <tr>
            <td><a href="{% url 'movie_pagination' %}" class="btn btn-link"> Movie Pagination</a></td>
            <td>영화 목록을 보여 줍니다.</td>
        </tr>
        <tr>
            <td><a href="{% url 'bootstrap_exercise' %}" class="btn btn-link"> 부트 스트랩 연습</a></td>
            <td>부트 스트랩에 대하여 사전 연습을 합니다,</td>
        </tr>
        <tr>
            <td><a href="{% url 'movie_bootstrap' %}" class="btn btn-link">  Movie Bootstrap</a></td>
            <td>영화 목록 보기를 페이지 네이션 기능을 부투 스트랩을 적용 시켜 보여 줍니다.</td>
        </tr>
        <tr>
            <td><a href="{% url 'movie_field_search' %}" class="btn btn-link">  Movie field search</a></td>
            <td>페이징 처리 기능과 필드 검색 기능을 적용 시켜 보여줍니다.</td>
        </tr>
    </table>
</body>
</html>